{% extends 'index.html' %}
{% load static %}
{% block body %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<style>
  #active {
    border-radius: 50%;
  }

  #inactive {
    border-radius: 50%;
  }
  #active:hover {
    cursor: default !important;
  }
  #inactive:hover {
    cursor: default !important;
  }
  .table-responsive{
    font-size:11px;
  }
  .material-symbols-outlined
  {
    font-size:14px;
  }
    td{
    padding:0px;
    }
    .password{
        display:none;
    }
    .text{
      display:block;
    }
    .green-row{
      color:white;
      background-color:green!important;
    }
    .red-row{
      color:white;
      background-color:red!important;
    }
    .head-row{
      color:white;
      background-color:#165d5d!important;
    }
</style>

<div class="container-fluid mb-5 wow fadeIn" data-wow-delay="0.1s" style="padding: 35px;">
            <div class="card container border border-2 border-primary py-4">
                <div class="row py-2">
                    <div class="col-md-6 text-start">
                        <h4>Apartment Table</h4>
                    </div>

                </div><hr class="border border-dark"/>
                <table class="table table-bordered border-dark">
                    <thead>
                    <tr>
                        <th>Sr. No</th>
                        <th>Name</th>
                        <th>Owner Name</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>District</th>
                        <th>Rental</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in data %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{i.name}}</td>
                        <td>{{i.owner.user.first_name}}</td>
                        <td>{{i.address}}</td>
                        <td>{{i.city}}</td>
                        <td>{{i.state}}</td>
                        <td>Rs. {{i.rent}}/Month</td>
                        <td>
                            {% if request.user.is_authenticated %}
                                {% if request.user.is_staff %}
                                    <a href="{% url 'apartment_delete' i.id %}" onclick="return confirm('Are you sure?')">
                                        <button type="button" class="btn btn-danger">Apartment Delete</button>
                                    </a>
                                {% else %}
                                    <a href="{% url 'owner_apartment_detail' i.id %}">
                                        <button type="button" class="btn btn-success">Details owner</button>
                                    </a>
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
<script>
    function togglePassword(element_id, btnId){
      var elementData = document.getElementById(element_id);
      var elementBtn = document.getElementById(btnId);
      console.log(elementData.classList.contains("password"))
      if(elementData.classList.contains("password")){
        elementData.classList.remove("password");
        elementData.classList.add("text");
        elementBtn.children[0].classList.add("fa-eye-slash");
        elementBtn.children[0].classList.remove("fa-eye");
      }
      else{
        elementData.classList.remove("text");
        elementData.classList.add("password");
        elementBtn.children[0].classList.remove("fa-eye-slash");
        elementBtn.children[0].classList.add("fa-eye");
      }
    }
  </script>

{% endblock %}