{% extends 'index.html' %}
{% load static %}
{% block body %}

        <!-- Header Start -->
        <div class="container-fluid header bg-white p-0">
            <div class="row g-0 align-items-center flex-column-reverse flex-md-row">
                <div class="col-md-6 p-5 mt-lg-5">
                    <h1 class="display-5 animated fadeIn mb-4">Forgot Password</h1>
                        <nav aria-label="breadcrumb animated fadeIn">
                        <ol class="breadcrumb text-uppercase">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item text-body active" aria-current="page">Forgot Password</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-md-6 animated fadeIn">
                    <img class="img-fluid" src="{% static 'img/header.jpg' %}" alt="">
                </div>
            </div>
        </div>
        <!-- Header End -->


        <!-- Form Start -->
        <div class="container-fluid bg-primary mb-5 wow fadeIn" data-wow-delay="0.1s" style="padding: 35px;">
            <div class="container">
                <form method="post" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row g-2 justify-content-center">
                        <div class="col-md-12">
                            <h4 class="text-center" style="color:white">Forgot Password</h4>
                            <br>
                            <div class="row g-2 justify-content-center">
                                <div class="col-md-7">
                                    <input type="email" name="email" class="form-control border-0 py-3" placeholder="Email Id" required>
                                </div>
                                <div class="col-md-7">
                                    <select name="sec_question" class="form-control border-0 py-3">
                                        <option selected>Select Security Question</option>
                                        <option value="What is your nick name ?">What is your nick name ?</option>
                                        <option value="Which is your favorite pet name ?">Which is your favorite pet name ?</option>
                                    </select>
                                </div>
                                <div class="col-md-7">
                                    <input type="text" name="answer" class="form-control border-0 py-3" placeholder="Answer">
                                </div>
                                <div class="col-md-7">
                                    <input type="password" name="new_password" class="form-control border-0 py-3" placeholder="New Password">
                                </div>
                                <div class="col-md-7">
                                    <input type="password" name="confirm_password" class="form-control border-0 py-3" placeholder="Confirm Password">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <button type="submit" class="btn btn-dark border-0 w-100 py-3">Reset Password</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- Form End -->


{% endblock %}