{% extends 'index.html' %}
{% load static %}
{% block body %}

    <!-- Form Start -->
    <div class="container-fluid mb-5 wow fadeIn" data-wow-delay="0.1s" style="padding: 35px;">
        <div class="card container bg-primary py-3">
            <form method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row g-2 justify-content-center">
                    <div class="col-md-12">
                        <h4 class="text-center" style="color:white">Send Feedback</h4>
                        <br>
                        <div class="row g-2 justify-content-center">
                            <div class="col-md-7">
                                <textarea type="text" rows="5" name="description" class="form-control border-0 py-3" placeholder="Send Feedback"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <button type="submit" class="btn btn-dark border-0 w-100 py-3">Update</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Form End -->

{% endblock %}